.nameHeader {
    color:olivedrab;
    font-weight:bold;
}
.paragraph{
    color: orange;
    font-size: 20px;
}
.firstList{
    color:purple;
    font-size:25px;
}
body{
    background-color: powderblue;
}
img{
    border: 1px solid rgb(194, 16, 16);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);;
    
}